* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  background-color: #191c1d;
  color: rgba(232, 230, 227, 0.87);
}

header {
  /* border: 3px solid green; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-rows: 1fr;
  justify-items: end;
}

header #gridicon {
  border: 3px solid green;
}
.topnav a {
  display: inline-block;
  color: rgba(232, 230, 227, 0.87);
}

.topnav a:nth-child(1) {
  padding: 0.5rem;
}
.topnav a:nth-child(2) {
  padding: 0.5rem;
}

#sign-in {
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a73e8;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  text-decoration: none;
  border: 3px solid red;
}

a {
  text-decoration: none;
  color: rgba(232, 230, 227, 0.87);
}

a:hover {
  text-decoration: underline;
}
main {
  display: grid;
  grid-template-rows: 4.3fr 1fr 1fr 1fr 2.7fr;
}

.logo {
  /* border: 3px solid rgb(63, 63, 63); */
  justify-self: center;
  align-self: end;
}

.search {
  border: 2.9px solid rgba(135, 135, 135, 0.434);
  border-radius: 3em;
  padding: 0.15rem 0.15rem 0.15rem 0.4rem;
  justify-self: center;
  align-self: top;
  margin-top: 1.5rem;
}

#inputbar {
  /* border: 3px solid green; */
  padding: 0.2rem 12rem;
  background-color: #2e2f3000;
  border: 0.1px solid rgba(255, 0, 0, 0);
}

.twobuttons {
  /* border: 2px solid red; */
  justify-self: center;
  align-self: end;
}

#button1 {
  color: rgba(232, 230, 227, 0.87);
  background-color: #0059b200;
  padding: 0.7rem 1rem;
  border: 1.7px solid rgba(135, 135, 135, 0.434);
  border-radius: 0.5rem;
  margin-right: 0.7rem;
}
#button2 {
  color: rgba(232, 230, 227, 0.87);
  background-color: #2e2f3000;
  padding: 0.7rem 1rem;
  border: 1.7px solid rgba(135, 135, 135, 0.434);
  border-radius: 0.5rem;
}

#button1:hover {
  cursor: pointer;
}
#button2:hover {
  cursor: pointer;
}

.googlelang {
  /* border: 2px solid orange; */
  justify-self: center;
  align-self: center;
}

#turkce {
  color: rgb(93, 175, 226);
}
footer {
  /* border: 3px solid yellowgreen; */
  background-color: #2e2f30;
  display: grid;
  align-items: end;
}

.footertop {
  padding: 0.7rem 0.7rem 0.7rem 1.2rem;
}

.footerbottom {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 1rem 0.5rem;
}

.footerbottom a {
  padding: 1rem;
}

.footerbottomr {
}

.footerbottom {
  color: red;
}

hr {
  opacity: 0.4;
}
